*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
font-family: "Poppins", sans-serif;
}

#control{
  text-align: center;
}
#container{
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem 2rem 0;
    align-items: center;

}

.paragraph{
  line-height: 1.5;
  margin-bottom: 40px;
  font-weight: 200;
}


/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.inputContainer{

text-align: center;



}
#control{
  width: 350px;
  background: lightgrey;
float:left;
height: 100vh

}
